<% layout("/layouts/boilerplate") -%>

<div class="container-main">
  <section class="category-section">

  <div class="category-wrapper">
    
    <button id="scrollLeft" class="scroll-btn">←</button>

    <div class="category-bar" id="categoryScroll">
      <% const categories = [
        { name: "Grocery", img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxsMhoicy2PEk_G0BFAEQFFyqqf8qgh-hy1w&s" },
        { name: "Mobile", img: "https://images.unsplash.com/photo-1511707171634-5f897ff02aa9" },
        { name: "Fashion", img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxIl45bxA93y_qY44T27vlMqAqAtr-eB3iVw&s" },
        { name: "Electronics", img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_SrXfWV7FUYaZ04WNO07dCRLdYQNII9g16w&s" },
        { name: "Kitchen", img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQopz4Td6D059R0J14Jgi4TpeOMs7hdAiLSTQ&s" },
        { name: "Beauty", img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-dd18WuuJYE-sJhWJVS1cL0pvUU7WsPSQlw&s" },
        { name: "Footwear", img: "https://th.bing.com/th/id/OIP.LarzleVeOtK9bPg21xTIRgHaE7?rs=1&pid=ImgDetMain" }
      ]; %>

      <% categories.forEach(category => { %>
        <a href="/categories?name=<%= category.name %>" class="category-card">
          <img src="<%= category.img %>" alt="<%= category.name %>">
          <p><%= category.name %></p>
        </a>
      <% }); %>
    </div>

    <button id="scrollRight" class="scroll-btn">→</button>

  </div>
</section>


<!-- 🔥 PRODUCT GRID -->
<section class="product-section">

  <div class="grid grid-3">
    
    <% for (product of products){ %>
      <a href="/product/<%= product.id %>">
        
        <div class="card-modern">
          <img src="<%= product.image.url %>" alt="product">
          
          <div class="card-content">
            <h3><%= product.title %></h3>
            <p>₹ <%= product.price.toLocaleString("en-IN") %></p>
          </div>
        </div>

      </a>
    <% } %>

  </div>

</section>
</div>
<script>
  const scrollContainer = document.getElementById("categoryScroll");

  document.getElementById("scrollLeft").onclick = () => {
    scrollContainer.scrollBy({ left: -200, behavior: "smooth" });
  };

  document.getElementById("scrollRight").onclick = () => {
    scrollContainer.scrollBy({ left: 200, behavior: "smooth" });
  };
</script>